div,
p,
span {
  font-size: 14px;
}

.font-courier {
  font-family: 'Courier New', Courier, monospace;
}

.ellipse2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 3px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(64, 158, 255, 0.6);
}
